.DS_Store
Transmission Remote GUI/*
nvim/.netrwhist
wireshark
configstore
fish/fish_variables
karabiner/automatic_backups/*
joplin*
neofetch/config.conf
fish/completions
fish/conf.d
fish/functions
fisher
fish/fishd.*
tags
QtProject
*tags*
htop
